html, body {
	background-color: #F7F7F7;
}

/*
body {
	box-shadow: inset 0px 0px 20px rgba(0,0,0,.5);
}
*/

.profileButton {
	padding: 8px;
}

.brandName {
	color: #00b7ff !important;
	margin-left: 0px !important; 
	text-align:center;
}

.brandName:hover {
	color: #1A93FF !important;
}

@media (max-width: 768px) {
	.navbar-form {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	.navbar-nav {
		margin: 0px -15px; 
	}
}

.nav-tabs {
	border-bottom: 1px solid #686868 !important;
}

.modal-header {
	border-bottom: 0px;
	padding: 0px; 
	min-height: 0px;
}

.modal-body {
	padding-bottom: 8px;
}

.modal-footer {
	border-top: 1px solid #686868 !important;
	padding: 10px 10px 10px !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border: 1px solid #686868 !important;
	border-bottom-color: transparent !important;
}

.alert {
	padding: 4px 15px !important;
	margin-bottom: 10px;
}

form hr {
	margin-top: 8px !important; 
	margin-bottom: 8px !important; 
}

.form-group {
	margin-bottom: 8px !important;
	margin-top: 15px;
}

.card {
	border: 1px solid #646464;
	border-radius: 6px 20px 6px;
	height: 175px;
	padding: inherit;
	padding-left: 30px;
	padding-top: 5px;
	margin: 10px 0px;

	/* Prevent background color leak outs */
	-webkit-background-clip: padding-box; 
	-moz-background-clip:    padding; 
	background-clip:         padding-box;

	background-color: #fff; 
	background-image: linear-gradient(90deg, transparent 79%, #abced4 79%, #abced4 80%, transparent 50%), 
					  linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.card:hover {
	-webkit-box-shadow:inset 0px 0.5px 3px 1px rgba(82, 82, 82, 1);
	box-shadow: inset 0px 0.5px 3px 1px rgba(82, 82, 82, 1);
}

.fa-2x {
	font-size: 1.3em !important;
	padding-right: 5px;
	padding-left: 5px;
}

.info {
	position: absolute;
	bottom: 25px;
	right: 30px;
	width: 40px;
	height: 40px;
	color: #333 !important;
	opacity:0.0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.info-static {
	opacity:1.0 !important;
}

.delete {
	position: absolute;
	bottom: 25px;
	right: 80px;
	width: 40px;
	height: 40px;
	color: #333 !important;
	opacity:0.0;
}

.delete .fa-2x, .info-static .fa-2x {
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 5px;
}

.btn:hover, .btn:focus {
	color: #333 !important;
	text-decoration: none;
}

.street {
	position: absolute;
	bottom: 5px;
}


.bs-callout-success {
	border-left-color: #51C951 !important;
}

.header-info {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857143px;
}

.modal-info {
	padding-top: 5px;
}

.bs-callout {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
	padding: 15px !important;
	padding-left: 20px !important;
	position: relative;
}

.bs-callout h4 {
	margin-top: 0 !important;
	margin-bottom: 0px !important;
}



/* comments area */
.comments { 
	display: block; 
	padding-left: 0px;
}

.comments .cmmnt, ul .cmmnt, ul ul .cmmnt { display: block; position: relative; border-top: 1px solid #ddd; }
.comments .cmmnt .avatar  { position: absolute; top: 8px; left: 0; }
.comments .cmmnt .avatar img { 
	  -webkit-border-radius: 3px; 
	  -moz-border-radius: 3px; 
	  border-radius: 3px; 
	  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	  box-shadow: 1px 1px 2px rgba(0,0,0,0.44);
	  -webkit-transition: all 0.4s linear;
	  -moz-transition: all 0.4s linear;
	  -ms-transition: all 0.4s linear;
	  -o-transition: all 0.4s linear;
	  transition: all 0.4s linear;
}

.comments .cmmnt .avatar a:hover img { opacity: 0.77; }

.comments .cmmnt .cmmnt-content { padding: 0px 3px; padding-bottom: 5px; padding-top: 8px; }

.comments .cmmnt .cmmnt-content header { display: block; margin-bottom: 8px; }
.comments .cmmnt .cmmnt-content header .pubdate { color: #777; }
.comments .cmmnt .cmmnt-content header .userlink { font-weight: bold; } 

textarea { 
	resize: vertical;
	max-height: 100px;
	max-width: 100%;
}

.fa-times {
	font-size: 15px !important;
}

.edit {
	position: absolute;
	bottom: 75px;
	right: 30px;
	width: 40px;
	height: 40px;
	color: #333 !important;
}

.edit-up {
	padding: 6px 10px !important;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	color: #333 !important;
    text-decoration: none;
    opacity:0.0;
    filter:alpha(opacity=0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.edit-up-inline {
	top: 7px;
}

.edit-tags {
	position: absolute;
	bottom: 75px;
	right: 30px;
	width: 40px;
	height: 40px;
	color: #333 !important;
}

.cmmnt .close {
	opacity:0.0;
}

.bs-callout:hover .edit-up, .cmmnt:hover .close, .tags:hover .edit-up, .card:hover .btn-info, .card:hover .btn-warning, .header-info:hover .edit-up {
    opacity:1.0;
    filter:alpha(opacity=100);/*position where      
    enlarged image should offset horizontally */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 10px 0px 5px 0px;
  position: relative;
  min-height: 50px;
  padding-bottom: 8px !important;
  border-left-color: #FCAD05 !important;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #81D0E7;
  color: white;
}

.tag:hover::after {
   border-left-color: #81D0E7; 
}

.tag a {
	color: #333;
	text-decoration: none;
}

.tag a:hover, .tag a:focus, .tag:hover a {
	color: #000;
	text-decoration: none;
}

.edit-address .form-group{
	margin-bottom: 8px !important;
	margin-top: 8px !important;
}

.profile-picture {
	width: 64px;
	height: 64px;
}

.profile-picture-big {
	width: 128px;
	height: 128px;
}

.header-details h4{
	padding-bottom: 5px;
}

.header-details p {
	margin: 0px !important;
}

.header-details small {
	color: #585858 !important;
}

.header-row-info .bs-callout {
	padding: 5px 5px 5px 15px !important;
	border-bottom: 2px solid #5bc0de;
	border-left: 2px solid #5bc0de;
	border-bottom-left-radius: 1em;
	-webkit-box-shadow: 3px 7px 6px -5px #035A74;
	-moz-box-shadow: 3px 7px 6px -5px #035A74;
	box-shadow: 3px 7px 6px -5px #035A74;
}

.search-form {
	margin-right: 20px;
}

.search-form input{
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

.result {
	padding: 5px 5px 5px 15px !important;
	border-bottom: 1px solid #5bc0de;
	border-left: 1px solid #5bc0de;
	border-bottom-left-radius: 1em;
	-webkit-box-shadow: 0px 3px 6px -2px #035A74;
	-moz-box-shadow:  0px 3px 6px -2px #035A74;
	box-shadow: 0px 3px 6px -2px #035A74;
	border-left: none !important;
}

.result:hover {
	-webkit-box-shadow: 0px 3px 10px 2px #0F3B47;
	-moz-box-shadow:  0px 3px 10px 2px #0F3B47;
	box-shadow: 0px 3px 10px 2px #0F3B47;
}

.result-link {
	color: #1B1B1B;
}

.result-link:hover, .result-link:visited, .result-link:active {
    text-decoration: none;
}


.search-buttons {
	border-bottom-right-radius: 1em !important;
	border-right: 2px solid #5bc0de !important;
}

address {
	margin-bottom: 15px !important;
}