.loginIcon {
	font-size: 16px;
	top: -2px;
}

.loginSmallIcon {
	font-size: 9px;
	top: -1px;
}

.loginLink {
	padding: 6px;
}

.btn-outline {
	color: #428bca;
	background-color: transparent;
	border-color: #428bca;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}