.pager {
  margin: 10px 0px 5px 0px !important;
}

.pager li>button {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #aaa;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #0088cc;
}

.pager li>button:hover {
  border: 1px solid #888;
}

.pager .disabled > button, .pager .disabled > span {
  color: #999999;
  background-color: #fff;
}

.label-info, .badge-info {
  background-color: #3a87ad !important;
  margin-top: 3px;
}

button:focus {outline:0 !important;}