	
.profile-picture-big {
	border-bottom: 2px solid #5bc0de;
	border-left: 2px solid #5bc0de;
	border-bottom-left-radius: 1em;
	-webkit-box-shadow: 3px 7px 6px -5px #035A74;
	-moz-box-shadow: 3px 7px 6px -5px #035A74;
	box-shadow: 3px 7px 6px -5px #035A74;
	margin: 10px 0px;
}

.profile-picture-big:hover {
	-webkit-box-shadow: 0px 3px 10px 2px #0F3B47;
	-moz-box-shadow:  0px 3px 10px 2px #0F3B47;
	box-shadow: 0px 3px 10px 2px #0F3B47;
}

h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: 1px solid #dadada;
	font-weight: normal;
	color: #575757;
}

.btn {
	color: rgb(55, 55, 55);
}