<!-- views/content.ejs -->
<!doctype html>
<html lang="en" ng-app="web">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time.">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Wally Wallet</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/content.css"> 
	<link rel="stylesheet" href="/stylesheets/pager.css">
	<link rel="stylesheet" href="/stylesheets/docs.min.css"> 
	<style>
	body { padding-top:80px; }
	</style>

		<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/ui-bootstrap-tpls-0.9.0.min.js"></script> 
	<script src="/javascripts/angular/CreateCards.js"></script>
	<script src="/javascripts/angular/CardsList.js"></script>
	<script src="/javascripts/angular/ListCtrl.js"></script>
	<script src="/javascripts/angular/Directives.js"></script>  
</head>
<body ng-controller="CardsListsCtrl" ng-init="initList('<%= user.facebook.id %>','<%= currentUser %>','<%= path.parent %>', '<%= path.granpa %>')">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand brandName" href="/content/user">Wally Wallet</a>
			</div>
			<div class="navbar-collapse collapse text-center">
				<div class="btn-group profileButton nav navbar-nav navbar-right" ng-controller="ModalCreateItems">                    
					<button class="btn btn-success" ng-click="open(itemFactory)" ng-if="isOwner()"><i class="fa fa-plus"></i></button>
					<a href="/search" type="button" class="btn btn-primary"><i class="fa fa-search"></i></a>
					<a href="/profile" type="button" class="btn btn-default"><%= user.facebook.name %></a>
					<a href="/logout" type="button" class="btn btn-warning"><i class="fa fa-sign-out"></i></a>
				</div>
				<form class="navbar-form navbar-right" ng-submit="search(toSearch)">
					<input type="text" class="form-control" ng-model="toSearch" placeholder="Search...">
				</form>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="alert alert-danger" role="alert" ng-show="isProblem">
			<button type="button" class="close" ng-click="closeAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<a href="#" class="alert-link">Sir we have a problem! {{errorMsg}}</a>
		</div>
		<div class="alert alert-info" role="alert" ng-show="isSuccess">
			<button type="button" class="close" ng-click="closeSuccess()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  	<a href="#" class="alert-link">{{successMsg}}</a>
		</div>
		<div class="row header-row-info">
			<div class="col-md-4">
				<div class="bs-callout bs-callout-info" >
					<div class="media">
						<a class="pull-left" href="/content/user/<%= currentUser %>">
							<img class="media-object profile-picture" ng-src="{{userInfo.icon}}" alt="64x64">
						</a>
						<div class="media-body header-details">
							<h4 class="media-heading">{{userInfo.name}}</h4>
							<p>Cards: {{userInfo.cards}}</p>
							<p>Folders: {{userInfo.folders}}</p>
						</div>
					</div>
				</div>
			</div>				
			<div class="col-md-4" ng-if="!<%=path.root%>">
				<div class="bs-callout bs-callout-info" >
					<div class="media">
						<a class="pull-left" ng-href="/content/user/<%= currentUser %>{{buildFolderURL(parentFolder._id, parentFolder.parent)}}">
							<img class="media-object profile-picture" ng-src="/images/folder-open-64.png" alt="64x64">
						</a>
						<div class="media-body header-details">
							<h4 class="media-heading"><small><strong>Parent:</strong> </small> {{parentFolder.name}}
							</h4>
							<p>Cards: {{parentFolder.cardsCount}}</p>
							<p>Folders: {{parentFolder.foldersCount}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="bs-callout bs-callout-info" >
					<div class="media">
						<div class="pull-left">
							<img class="media-object profile-picture" ng-src="/images/folder-blue-64.png" alt="64x64">
						</div>
						<div class="media-body header-details">
							<h4 class="media-heading"><small><strong>Current:</strong></small> {{currentFolder.name}}</h4>
							<p>Cards: {{currentFolder.cardsCount}}</p>
							<p>Folders: {{currentFolder.foldersCount}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
			<ul class="pager">
				<li class="previous">
					<button ng-style="prevButton" ng-disabled="currentPage == 0" ng-click="changePage(-1)">
					&larr; Prev
					</button>
				</li>
				<li><span class="badge badge-info">{{correctPage()}} / {{numberOfPages()}}</span></li>
				<li class="next">
					<button ng-style="nextButton" ng-disabled="currentPage >= numberOfPages() - 1" ng-click="changePage(1)">
					Next &rarr;
					</button>
				</li>
			</ul>

		<!-- Row of Cards -->
		<div class="row">
			<div class="col-md-4" ng-repeat="card in cards | startFrom:currentPage*pageSize | limitTo:pageSize">
				<div class="card">
					<address>
						<div ng-if="card.guy.name == ''">
							<h4><strong>{{card.company}}</strong></h4>   
						</div>
						<div ng-if="card.guy.name != ''">
							<h4><strong>{{card.guy.name}}</strong></h4>
							<strong>{{card.company}}</strong>, <br>
							{{card.guy.appointment}}
						</div>
					</address>
					<address class="street">
						{{card.address.street}}<br>
						{{card.address.city}}, {{card.address.country}}<br>
						<i class="fa fa-phone fa-2x"></i> {{card.phone}}<br>
						<i class="fa fa-envelope-o fa-2x"></i><a ng-href="mailto:{{card.email}}"> {{card.email}}</a>
					</address>
					<button type="button" class="btn btn-info info" data-toggle="modal" data-target=".cardModal" ng-click="showCard(card)">
						<i class="fa fa-info"></i>
					</button>
				</div>
			</div>
		</div>
			<ul class="pager">
				<li class="previous">
					<button ng-style="prevButtonFolder" ng-disabled="currentPageFolder == 0" ng-click="changePageFolder(-1)">
					&larr; Older
					</button>
				</li>
				<li><span class="badge badge-info">{{correctPageFolder()}} / {{numberOfPagesFolder()}}</span></li>
				<li class="next">
					<button ng-style="nextButtonFolder" ng-disabled="currentPageFolder >= numberOfPagesFolder() - 1" ng-click="changePageFolder(1)">
					Newer &rarr;
					</button>
				</li>
			</ul>
		<div class="row">
			<div class="col-md-4" ng-repeat="folder in folders | startFrom:currentPageFolder*pageSize | limitTo:pageSize">
				<div class="card">  
					<h4>{{folder.name}}</h4> 
					<div>
						<strong>Cards: </strong>{{folder.cardsCount}}
					</div>  
					<div>
						<strong>Folders: </strong>{{folder.foldersCount}}
					</div>
					<a href="/content/user/<%= currentUser %>/{{folder._id}}/<%= path.parent %>" class="btn btn-info info info-static" role="button">
						<i class="fa fa-external-link fa-2x"></i>
					</a>
					<button type="button" class="btn btn-warning delete" 
						data-toggle="modal" data-target=".delete-folder-confirm"
						ng-click="setFolderToDelete(folder)" role="button" ng-if="isOwner()">
						<i class="fa fa-trash-o fa-2x"></i> 
					</button>
				</div>
			</div>
			<hr>
		</div>
	</div>


	<div class="modal fade delete-folder-confirm" tabindex="-1" role="dialog" aria-labelledby="Delete folder" aria-hidden="true">
	  <div class="modal-dialog">
			<div class="modal-content">
				<div class="header-info">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Delete Folder: <small><strong>{{folderToDelete.name}}</strong></small></h4> 
			  </div>
			  <div class="modal-body">
				<div class="bs-callout bs-callout-warning"  ng-if="folderToDelete.foldersCount == 0">
					<p>Are you sure that you want to delete <strong>"{{folderToDelete.name}}"</strong> folder?</p>
					<strong class="text-danger" ng-if="folderToDelete.cardsCount > 0">{{folderToDelete.cardsCount}} cards will be deleted.</strong>
				  </div>
				  <div class="bs-callout bs-callout-danger"  ng-if="folderToDelete.foldersCount > 0">
						<p class="text-danger">
							<i class="fa fa-exclamation-triangle"></i>You can not delete folder with subfolders. Please delete subfolders first!
						</p>
					</div> 
			  </div>
			  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Keep</button>
					<button type="button" ng-click="deleteFolder(folderToDelete)" class="btn btn-primary" data-dismiss="modal" ng-hide="!equalToZero(folderToDelete.foldersCount)"> Delete!</button>
			  </div>
			</div>
	  </div>
	</div> 


	<div class="modal fade cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-model="cardShowed">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="header-info">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel" ng-if="cardShowed.guy.name != ''">{{cardShowed.guy.name}}</h4>
					<h4 class="modal-title" id="myModalLabel" ng-if="cardShowed.guy.name == ''">None</h4>
				</div>
				<div class="modal-body modal-info">
					<div class="bs-callout bs-callout-success">
						<h4 ng-hide="hideGuy"><i class="fa fa-users"></i> <strong>{{cardShowed.guy.appointment}}</strong>, {{cardShowed.company}}</h4>
						<div class="row" ng-show="hideGuy">
							<div class="col-xs-6">
								<input type="text" class="form-control" placeholder="Appointment" ng-model="cardShowed.guy.appointment">
							</div>
							<div class="col-xs-6">
								<input type="text" class="form-control" placeholder="Company" ng-model="cardShowed.company">
							</div>
						</div>
						<button class="btn btn-warning edit-up edit-up-inline" ng-click="hideGuy = !hideGuy" ng-show="isOwner()"> <span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Address</h4>
						<p ng-hide="hideAddress">
							{{cardShowed.address.street}}<br>
							<strong>{{cardShowed.address.city}}</strong>, {{cardShowed.address.country}}<br>
							<i class="fa fa-phone fa-2x"></i> {{cardShowed.phone}}<br>
							<i class="fa fa-envelope-o fa-2x"></i><a ng-href="mailto:{{cardShowed.email}}"> {{cardShowed.email}}</a>
						</p>
						<div ng-show="hideAddress">
							<form class="form-horizontal edit-address" role="form">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Street" ng-model="cardShowed.address.street">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-xs-6">
										<input type="text" class="form-control" placeholder="City" ng-model="cardShowed.address.city">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" placeholder="Country" ng-model="cardShowed.address.country">
									</div>
								</div>
								<div class="form-group">
									<label for="Phone" class="col-sm-1 control-label"><i class="fa fa-phone fa-2x"></i></label>
									<div class="col-sm-11">
										<input type="tel" class="form-control" id="Phone" placeholder="Phone" ng-model="cardShowed.phone">
									</div>
								</div>
								<div class="form-group">
									<label for="Phone" class="col-sm-1 control-label"><i class="fa fa-envelope-o fa-2x"></i></label>
									<div class="col-sm-11">
										<input type="email" class="form-control" id="Phone" placeholder="Mail" ng-model="cardShowed.email">
									</div>
								</div>
							</form>
						</div>
						<button class="btn btn-warning edit-up" ng-click="hideAddress = !hideAddress" ng-show="isOwner()"><span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<ul class="tags bs-callout bs-callout-info">
						<li class="tag" ng-repeat="tag in cardShowed.tags track by $index">
							<a ng-href="/search/{{tag}}">{{tag}}</a>
						</li>
						<input ng-keyup="modifyTags($event)" ng-model="tagsInput" type="text" class="form-control animate-hide" placeholder="Enter tags delimited by space" title="Enter tags delimited by space" ng-show="hiveTags"></input>
						<button class="btn btn-warning edit-up edit-up-inline " ng-click="hiveTags = !hiveTags" ng-show="isOwner()"><span class="glyphicon glyphicon-pencil"></span></button>
					</ul>
					<ul class="comments">
						<li class="cmmnt" ng-repeat="comments in cardComments | orderBy: '-date'">
						  <div class="cmmnt-content">
						   <header>
								<a ng-href="/content/user/{{comments.fk_user}}" class="userlink">{{comments.publisher}}</a> - 
								<span class="pubdate">posted {{comments.date}} </span>
								<button type="button" class="close" ng-click="deleteComment(comments)" ng-show="isOwnerOrItsOurs(comments.fk_user)"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>
							</header>
							<p>{{comments.text}}</p>
						  </div>
						</li>
						<li class="cmmnt">
						  <div class="cmmnt-content" >
							<header><a href="javascript:void(0);" class="userlink"></a><%= user.facebook.name %> - <span class="pubdate">({{comment.length}}/<strong>120</strong>)</span></header>
							<form>
							<textarea  ng-enter="createComment(comment)" rows="3" class="form-control" id="demo" ngMaxlength="120" required ngMinlength="5" ng-model="comment" maxlength="120 "></textarea>
							</form>
						  </div>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="deleteCard()" data-dismiss="modal" ng-if="isOwner()">Delete</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveCard()" data-dismiss="modal" ng-if="isOwner()">Save changes</button>
					<button type="button" class="btn btn-success" ng-click="import(true)" data-dismiss="modal" ng-if="!isOwner()">Import </button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->


	<script type="text/ng-template" id="myModalContent.html">
	  <div class="modal-header">
	  </div>
	  <div class="modal-body">
		<tabset justified="true">
			<tab heading="Create Card">
				<div class="tab-pane" id="home">         
					<form class="form-horizontal" role="form" name="cardForm" ng-submit="submit()">
						<div class="alert alert-danger error" ng-show="!cardForm.$valid">
							Form invalid!
						</div>
						<div class="form-group">
							<label for="company" class="col-sm-2 control-label">Company</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="company" placeholder="Company name"name="company" ng-model="card.company" required ng-maxlength="20">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">Phone</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="Phone" placeholder="Phone" ng-model="card.phone">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="Phone" placeholder="Mail" ng-model="card.email">
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label for="company" class="col-sm-2 control-label">Street</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Street" placeholder="Street" name="street" ng-model="card.address.street" required ng-maxlength="50">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">City</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="City" placeholder="City name" ng-model="card.address.city" required>
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">Country</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Country" placeholder="Country" ng-model="card.address.country" required>
							</div>
						</div>
						<hr>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">Contact</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Name" placeholder="Contact name (optional)" ng-model="card.guy.name">
							</div>
						</div>
						<div class="form-group">
							<label for="Phone" class="col-sm-2 control-label">Appointment</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Appointment" placeholder="Contact appointment (optional)" ng-model="card.guy.appointment">
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="createCard('<%= path.parent %>')" >Create card</button>
					</div>
				</div>
			</tab>
			<tab heading="Create Folder">
				<div class="tab-pane" id="profile">
					<form class="form-horizontal" role="form" name="folderForm" >
						<div class="alert alert-danger error" ng-show="!folderForm.$valid">
							Form invalid!
						</div>
						<div class="form-group">
							<label for="Folder" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="Folder" placeholder="Folder name" name="Folder" ng-model="folder.name" required ng-maxlength="20">
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="createFolder('<%= path.parent %>')" >Create Folder</button>
					</div>
				</div>
			</tab>
		  </tabset>
	  </div>
	</script>
</body>
</html>