<!-- views/index.ejs -->
<!doctype html>
<html style="background-color: #232323;" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time.">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Wally Wallet - ERROR</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/cover.css"> <!-- load fontawesome -->
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>
<style id="holderjs-style" type="text/css"></style></head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Wally Wallet</h3>
						<ul class="nav masthead-nav">
							<li><a href="/">Home</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
					</div>
				</div>

				<div class="inner cover">
					<h1 class="cover-heading">Error!</h1>
					<p class="lead">Don't try to do bad things with me precious treasure<br>
					</p>
					<img src="/images/panic.png" class="img-rounded" alt="Responsive image">
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>Final Degree Project, <a href="http://www.fib.upc.edu/">FIB - UPC</a>, by <a href="https://www.linkedin.com/in/albertfranzi">@afranzi</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
</body>
</html>