<!-- views/index.ejs -->
<!doctype html>
<html style="background-color: #232323;" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time.">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Wally Wallet</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/cover.css"> <!-- load fontawesome -->
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>
<style id="holderjs-style" type="text/css"></style></head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Wally Wallet</h3>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
				<div class="inner cover">
					<h1 class="cover-heading">Welcome to Wally Wallet!</h1>
					<p class="lead">Let's Scan, share, manage and look up<br>contacts at any time.
						<a href="/auth/facebook" class="btn btn-link">
							<span class="glyphicon glyphicon-heart"></span><b> Join now</b>
						</a>
					</p>
					<a type="button" class="btn btn-primary" href="/auth/facebook"><i class="fa fa-facebook-square fa-2x"></i>  Log in with Facebook</a>
					<br/>
				</div>

				<footer class="mastfoot">
			        <div class="inner">
						<p>Final Degree Project, <a href="http://www.fib.upc.edu/">FIB - UPC</a>, by <a href="https://www.linkedin.com/in/albertfranzi">@afranzi</a>.</p>
					</div>
			    </footer>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
</body>
</html>



<!-- <div class="fb-facepile" data-app-id="1382387215386427" data-href="https://www.facebook.com/FacebookDevelopers" data-width="300" data-max-rows="1" data-colorscheme="dark" data-size="medium" data-show-count="true"></div> -->