<!-- views/profile.ejs -->
<!doctype html>
<html lang="en" ng-app="web">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time.">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Wally Wallet Search</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/content.css"> <!-- load fontawesome --> 
	<link rel="stylesheet" href="/stylesheets/docs.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/pager.css">
	<link rel="stylesheet" href="/stylesheets/profile.css">
	<style>
	
	</style>
	<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/ui-bootstrap-tpls-0.9.0.min.js"></script> 
	<script src="/javascripts/angular/ProfileCtrl.js"></script>
	<script src="/javascripts/angular/Directives.js"></script> 
</head>
<body>
<div class="container" ng-controller="ProfileCtrl" ng-init="init('<%= user.facebook.id %>')">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="well">
				<div class="media">
					<a class="pull-left" ng-href="/content/user/<%= user.facebook.id %>">
						<img class="media-object profile-picture-big" ng-src="<%= user.facebook.photo %>" alt="128x128">
					</a>
					<div class="media-body header-details">
						<h3>{{userInfo.name}}</h3>
						<p><strong>Email</strong>: <%= user.facebook.email %></p>
						<p><strong>Cards</strong>: <%= user.cardCount %></p>
						<p><strong>Folders</strong>: <%= user.folderCount %></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<a type="button" class="btn btn-success" ng-href="/content/user/<%= user.facebook.id %>"><i class="fa fa-info"></i> Content</a>
				<a href="/logout" type="button" class="btn btn-warning"><i class="fa fa-sign-out"></i> Logout</a>
				<button type="button" class="btn btn-danger" 
						data-toggle="modal" data-target=".delete-user-confirm"
						role="button">
					<i class="fa fa-trash-o fa-2x"></i> 
				</button>
			</div>
		</div>
	</div>

	<div class="modal fade delete-user-confirm" tabindex="-1" role="dialog" aria-labelledby="Delete User" aria-hidden="true">
	  <div class="modal-dialog">
			<div class="modal-content">
				<div class="header-info">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Remove account...</h4> 
			  </div>
			  <div class="modal-body">
				<div class="bs-callout bs-callout-warning">
					<p>Are you sure that you want to remove for ever your account?</p>
					<strong class="text-danger">This action cannot be undone!</strong>
				  </div>
			  </div>
			  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Keep</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeUser()">Delete!</button>
			  </div>
			</div>
	  </div>
	</div> 
</body>
</html>