<!-- views/signup.ejs -->
<!doctype html>
<html style="background-color: #232323;" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time - Login">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Registration</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/cover.css"> 
	<link rel="stylesheet" href="/stylesheets/login.css"> 
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>
<style id="holderjs-style" type="text/css"></style></head>
<body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
						<h3 class="masthead-brand">Wally Wallet</h3>
						<ul class="nav masthead-nav">
							<li><a href="/">Home</a></li>
							<li><a href="#">Login</a></li>
							<li class="active"><a href="/signup">Signup</a></li>
						</ul>
					</div>
				</div>

				<div class="inner cover">
					<div class="col-sm-6 col-sm-offset-3">
						<h2><span class="fa fa-sign-in"></span> Signup</h2>

						<!-- show any messages that come back with authentication -->
						<% if (message.length > 0) { %>
						<div class="alert alert-danger"><%= message %></div>
						<% } %>

						<!-- LOGIN FORM -->
						<form action="/signup" method="post">
							<div class="input-group form-group">
							  <span class="input-group-addon"><i class="fa fa-anchor fa-fw"></i></span>
							  <input type="text" class="form-control" name="name" placeholder="Username">
							</div>
							<div class="input-group form-group">
							  <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
							  <input type="text" class="form-control" name="email" placeholder="Email address">
							</div>
							<div class="input-group form-group">
							  <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
							  <input type="password" class="form-control" name="password" placeholder="Password">
							</div>

							<button type="submit" class="btn btn-lg btn-outline"><i class="fa fa-users"></i> Signup</button>
						</form>

						<hr>
						<p>Already have an account?
							<a href="/login" class="btn btn-link loginLink">
								<i class="fa fa-coffee">
									<b> Login</b>
								</i>								
							</a>
						</p>
					</div>
				</div>

				<div class="mastfoot">
					<div class="inner">
						<p>Final Degree Project, <a href="http://www.fib.upc.edu/">FIB - UPC</a>, by <a href="https://www.linkedin.com/in/albertfranzi">@afranzi</a>.</p>
					</div>
				</div>

			</div>

		</div>

	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
</body>
</html>