<!-- views/content.ejs -->
<!doctype html>
<html lang="en" ng-app="web">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Wally Wallet, Let's Scan, share, manage and look up contacts at any time.">
	<meta name="author" content="Albert Franzi">
	<link rel="shortcut icon" href="/images/Contact.ico">

	<title>Wally Wallet Search</title>
	<link rel="stylesheet" href="/javascripts/libs/bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/content.css"> <!-- load fontawesome --> 
	<link rel="stylesheet" href="/stylesheets/docs.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/stylesheets/pager.css">
	<script src="/javascripts/libs/jquery.min.js"></script>
	<script src="/javascripts/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/libs/docs.min.js"></script>  
	<script src="/javascripts/angular.min.js"></script>
	<script src="/javascripts/angular-route.min.js"></script>
	<script src="/javascripts/ui-bootstrap-tpls-0.9.0.min.js"></script>
	<script src="/javascripts/angular/UserSearch.js"></script>  
	<script src="/javascripts/angular/CardsList.js"></script> 
	<script src="/javascripts/angular/Directives.js"></script>  
	<style>
	body { padding-top:80px; }
	</style>
</head>
<body ng-controller="SearchCtrl" ng-init="init('<%= search %>')">
	<div ng-controller="CardsListsCtrl" ng-init="initSearch('<%= user.facebook.id %>')">

	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand brandName" href="/content/user">Wally Wallet</a>
			</div>
			<div class="navbar-collapse collapse text-center">
				<div class="btn-group profileButton nav navbar-nav navbar-right"> 
					<a href="/content/user/<%= user.facebook.id %>" type="button" class="btn btn-primary"><i class="fa fa-info"></i></a>
					<a href="/profile" type="button" class="btn btn-default"><%= user.facebook.name %></a>
					<a href="/logout" type="button" class="btn btn-warning"><i class="fa fa-sign-out"></i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">		
		<div class="alert alert-danger" role="alert" ng-show="isProblem">
			<button type="button" class="close" ng-click="closeAlert()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  	<a href="#" class="alert-link">Sir we have a problem! {{errorMsg}}</a>
		</div>
		<div class="alert alert-info" role="alert" ng-show="isSuccess">
			<button type="button" class="close" ng-click="closeSuccess()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		  	<a href="#" class="alert-link">{{successMsg}}</a>
		</div>
		<div class="row header-row-info">
			<div class="col-md-6 col-sx-6">
				<div class="bs-callout bs-callout-info" >
					<div class="media">
						<div class="pull-left">
							<img class="media-object profile-picture" ng-src="/images/{{searchPanel.icon}}" alt="64x64">
						</div>
						<div class="media-body header-details">
							<p>{{searchPanel.text}} found: {{numItems}}</p>
							<form class="" ng-submit="changeSearch(searchPanel.type, filter)">
								<div class="input-group search-form">
								<span class="input-group-addon"><i class="fa fa-search"></i></span>
								<input type="search" class="form-control" ng-model="filter" placeholder="Search...">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sx-6">
				<div class="bs-callout bs-callout-info search-buttons" >
					<div class="btn-group btn-group-justified" data-toggle="buttons" style="padding: 5px;">
						<label class="btn btn-default" ng-click="searchUsers()">
							<input type="radio" name="options" id="option1" checked><i class="fa fa-anchor"></i> Users
						</label>
						<label class="btn btn-default" ng-click="searchCards()">
							<input type="radio" name="options" id="option2"><i class="fa fa-file-text-o"></i> Cards
						</label>
						<label class="btn btn-default" ng-click="searchTags()">
							<input type="radio" name="options" id="option3"><i class="fa fa-bookmark-o"></i> Tags
						</label>
					</div>
				</div>
			</div>
		</div>
		<br>	
				<ul class="pager">
			<li class="previous">
				<button ng-style="prevButtonSearch" ng-disabled="currentPageSearch == 0" ng-click="changePageSearch(-1)">
				&larr; Older
				</button>
			</li>
			<li><span class="badge badge-info">{{correctPageSearch()}} / {{numberOfPagesSearch()}}</span></li>
			<li class="next">
				<button ng-style="nextButtonSearch" ng-disabled="currentPageSearch >= numberOfPagesSearch() - 1" ng-click="changePageSearch(1)">
				Newer &rarr;
				</button>
			</li>
		</ul>		
		<div class="row" ng-if="searchPanel.type == 1">
			<div class="col-md-4" ng-repeat="user in items | startFrom:currentPageSearch*pageSizeSearch | limitTo:pageSizeSearch">
				<a class="result-link" ng-href="/content/user/{{user.facebook.id}}">
					<div class="bs-callout bs-callout-info result">
						<div class="media">
							<div class="pull-left">
								<img class="media-object profile-picture" ng-src="{{user.facebook.photo}}" alt="64x64">
							</div>
							<div class="media-body header-details">
								<h4 class="media-heading">{{user.facebook.name}}</h4>
								<p>Cards: {{user.cardCount}}</p>
								<p>Folders: {{user.folderCount}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="row" ng-if="searchPanel.type != 1">
			<div class="col-md-4" ng-repeat="card in items | startFrom:currentPageSearch*pageSizeSearch | limitTo:pageSizeSearch">
				<a class="result-link" ng-href="#"  ng-click="showCard(card)" data-toggle="modal" data-target=".cardModal">
					<div class="bs-callout bs-callout-info result">
						<div class="media">
							<div class="pull-left">
								<img class="media-object profile-picture" ng-src="/images/{{getCardImage(card)}}-64.png" alt="64x64">
							</div>
							<div class="media-body header-details">
								<h4 class="media-heading">{{card.guy.name}}</h4>
								<p>Company: {{card.company}}</p>
								<p>Appointment: {{card.guy.appointment}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- TODO: Convertir aquest modal a directiva d'angular per modularitzar -->
	<div class="modal fade cardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-model="cardShowed">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="header-info">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel" ng-if="cardShowed.guy.name != ''">{{cardShowed.guy.name}}</h4>
					<h4 class="modal-title" id="myModalLabel" ng-if="cardShowed.guy.name == ''">None</h4>
				</div>
				<div class="modal-body modal-info">
					<div class="bs-callout bs-callout-success">
						<h4 ng-hide="hideGuy"><i class="fa fa-users"></i> <strong>{{cardShowed.guy.appointment}}</strong>, {{cardShowed.company}}</h4>
						<div class="row" ng-show="hideGuy">
							<div class="col-xs-6">
								<input type="text" class="form-control" placeholder="Appointment" ng-model="cardShowed.guy.appointment">
							</div>
							<div class="col-xs-6">
								<input type="text" class="form-control" placeholder="Company" ng-model="cardShowed.company">
							</div>
						</div>
						<button class="btn btn-warning edit-up edit-up-inline" ng-click="hideGuy = !hideGuy" ng-show="isOurs(cardShowed.owner)"> <span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<div class="bs-callout bs-callout-info">
						<h4>Address</h4>
						<p ng-hide="hideAddress">
							{{cardShowed.address.street}}<br>
							<strong>{{cardShowed.address.city}}</strong>, {{cardShowed.address.country}}<br>
							<i class="fa fa-phone fa-2x"></i> {{cardShowed.phone}}<br>
							<i class="fa fa-envelope-o fa-2x"></i><a href="mailto:#"> {{cardShowed.email}}</a>
						</p>
						<div ng-show="hideAddress">
							<form class="form-horizontal edit-address" role="form">
								<div class="form-group">
									<div class="col-sm-12">
										<input type="text" class="form-control" placeholder="Street" ng-model="cardShowed.address.street">
									</div>
								</div>
								<div class="row form-group">
									<div class="col-xs-6">
										<input type="text" class="form-control" placeholder="City" ng-model="cardShowed.address.city">
									</div>
									<div class="col-xs-6">
										<input type="text" class="form-control" placeholder="Country" ng-model="cardShowed.address.country">
									</div>
								</div>
								<div class="form-group">
									<label for="Phone" class="col-sm-1 control-label"><i class="fa fa-phone fa-2x"></i></label>
									<div class="col-sm-11">
										<input type="tel" class="form-control" id="Phone" placeholder="Phone" ng-model="cardShowed.phone">
									</div>
								</div>
								<div class="form-group">
									<label for="Phone" class="col-sm-1 control-label"><i class="fa fa-envelope-o fa-2x"></i></label>
									<div class="col-sm-11">
										<input type="email" class="form-control" id="Phone" placeholder="Mail" ng-model="cardShowed.email">
									</div>
								</div>
							</form>
						</div>
						<button class="btn btn-warning edit-up" ng-click="hideAddress = !hideAddress" ng-show="isOurs(cardShowed.owner)"><span class="glyphicon glyphicon-pencil"></span></button>
					</div>
					<ul class="tags bs-callout bs-callout-info">
						<li class="tag" ng-repeat="tag in cardShowed.tags track by $index">
							<a ng-href="/search/{{tag}}">{{tag}}</a>
						</li>
						<input ng-keyup="modifyTags($event)" ng-model="tagsInput" type="text" class="form-control animate-hide" placeholder="Enter tags delimited by space" title="Enter tags delimited by space" ng-show="hiveTags"></input>
						<button class="btn btn-warning edit-up edit-up-inline " ng-click="hiveTags = !hiveTags" ng-show="isOurs(cardShowed.owner)"><span class="glyphicon glyphicon-pencil"></span></button>
					</ul>
					<ul class="comments">
						<li class="cmmnt" ng-repeat="comments in cardComments | orderBy: '-date'">
						  <div class="cmmnt-content">
						   <header>
								<a ng-href="/content/user/{{comments.fk_user}}" class="userlink">{{comments.publisher}}</a> - 
								<span class="pubdate">posted {{comments.date}} </span>
								<button type="button" class="close" ng-click="deleteComment(comments)" ng-show="isOwnerOrItsOurs(comments.fk_user)"><span aria-hidden="true"><i class="fa fa-times"></i></span><span class="sr-only">Close</span></button>
							</header>
							<p>{{comments.text}}</p>
						  </div>
						</li>
						<li class="cmmnt">
						  <div class="cmmnt-content" >
							<header><a href="javascript:void(0);" class="userlink"></a><%= user.facebook.name %> - <span class="pubdate">({{comment.length}}/<strong>120</strong>)</span></header>
							<form>
							<textarea  ng-enter="createComment(comment)" rows="3" class="form-control" id="demo" ngMaxlength="120" required ngMinlength="5" ng-model="comment" maxlength="120 "></textarea>
							</form>
						  </div>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="deleteCard()" data-dismiss="modal" ng-if="isOwner()">Delete</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click="saveCard()" data-dismiss="modal" ng-if="isOwner()">Save changes</button>
					<button type="button" class="btn btn-success" ng-click="import()" data-dismiss="modal" ng-if="!isOwner()">Import </button>
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
</html>